@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

/* ------- GENERAL STRUCTURE ------- */

body{
    background-color: #fff;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------- HEADER ------- */

header{
    background-color: rgba(255, 168, 0, 1);
    border: 0px solid black;
}

div#cabecalho{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

p#logo_site{
    color: #000;
    font-family: 'Pushster', cursive;
    font-size: 40px;
}

ul{
    list-style-type: none;
    display: flex;
}

li.itens_do_menu{
    margin: 18px 10px 0 0;
    font-size: 1.5em;
    padding: 15px 10px;
    border: 0px solid #000;
}

a.navMenu
{
    text-decoration: none;
    color: #000;
    border-radius: 10px;
}

a.navMenu :hover
{
    color: #ffa800;
    background-color: #000;
    text-decoration: none;
    border-radius: 10px;
}

/* ------- MAIN - INÍCIO ------- */

.bloco_formulario_petneo{
    display: block;
    width: 600px;
    height: 275px;
    text-align: center;
    margin: 35px auto 0 auto;
    border-radius: 15px;
}

#bloco_secao_input_dados{
    width: 310px;
    margin: 0 auto;
}

.formulario_petneo{
    display: block;
}

article.dados_petneo{
    display: flex;
    margin: 0 auto;
}

input.entrada_dados_index{
    width: 125px;
    margin: 20px 10px;
    padding: 10px 5px;
    border: 0px;
    text-align: center;
    border-bottom: 1px solid silver;
}

input#calcular{
    border: 1px solid #ffa800;
    background-color: #ffa800;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 20px;
}

input#calcular:hover{
    border: 1px solid #000;
    background-color: #000;
    color: #ffa800;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
}

input.resultado_dados_index{
    width: 550px;
    margin: 20px 10px;
    padding: 10px 5px;
    border: 0px;
    text-align: center;
    border-bottom: 1px solid silver;
}

/* ------- MAIN - QUEM SOMOS ------- */

h3{
    text-align: center;
}

.bloco_informacoes{
    width: 60%;
    margin: 20px auto 0 auto;
    border: 1px solid silver;
    border-radius: 15px;
}

.descricao_quem_somos{
    width: 80%;
    text-align: center;
    margin: 10px auto;
    line-height: 2em;
}

figure{
    margin: 20px auto;
    width: 400px;
}

figure img{
    border-radius: 25px;
    width: 400px;
}

figcaption{
    text-align: center;
    font-size: small;
}

/* ------- MAIN - VAMOS CONVERSAR ------- */

div.bloco_formulario{
    display: block;
    width: 500px;
    text-align: center;
    margin: 35px auto 0 auto;
    border: 1px solid silver;
    border-radius: 15px;
}

div.formulario{
    margin: 20px 0;
}

input.tamanho_entrada_dados, textarea.tamanho_entrada_dados{
    width: 400px;
    margin: 20px 0;
    padding: 10px 5px;
    border: 0px;
    text-align: center;
    border-bottom: 1px solid silver;
}

input#enviar{
    border: 1px solid #ffa800;
    background-color: #ffa800;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 7px;
}

input#enviar:hover{
    border: 1px solid #000;
    background-color: #000;
    color: #ffa800;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
}

/* ------- FOOTER ------- */
p#footer{
    font-size: 14px;
    text-align: center;
    margin-top: 10%;
    padding: 20px;
    background-color: rgba(255, 168, 0, 1);
}

p#footer a{
    text-decoration: none;
    color: #000;
}