.bloco_google_ads{
    display: block;
    width: 20%;
    height: 200px;
    border: 1px solid #000;
}

.bloco_formulario_petneo{
    display: block;
    width: 60%;
    text-align: center;
    margin: 35px auto 0 auto;
    border-radius: 15px;
    line-height: 25px;
}

#informativo{
    font-weight: bold;
    font-size: 0.8em;
}

#instrucoes_medidas{
    font-size: 0.8em;
    text-align: center;
}

#bloco_secao_input_dados{
    width: 310px;
    margin: 2% auto 0 auto;
}

.formulario_petneo{
    display: block;
}

article.dados_petneo{
    display: flex;
    margin: 0 auto;
}

.msg-error-php{
    width: 100%;
    text-align: center;
}

input.entrada_dados_index{
    width: 125px;
    margin: 20px 10px;
    padding: 10px 5px;
    border: 0px;
    text-align: center;
    border-bottom: 1px solid silver;
}

#calcular, #limpar{
    border: 1px solid #ffa800;
    background-color: #ffa800;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 20px;
}

#calcular:hover, #limpar:hover{
    border: 1px solid #000;
    background-color: #000;
    color: #ffa800;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
}

input.resultado_dados_index{
    width: 550px;
    margin: 20px 10px;
    padding: 10px 5px;
    border: 0px;
    text-align: center;
    border-bottom: 1px solid silver;
}