#bloco_acesso{
    width: 200px;
    padding: 20px;
    text-align: center;
    margin: 2% auto 0 auto;
    border: 1px solid silver;
    border-radius: 10px;
}

#user_access, #password_access{
    border: 0px;
    border-bottom: 1px solid gray;
    padding: 10px 15px;
    text-align: center;
}

#password_access{
    margin: 20px 0;
}

input#limpar, input#entrar{
    border: 1px solid #fff;
    background-color: #fff;
    color: gray;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 7px;
}

input#limpar:hover, input#entrar:hover{
    border: 1px solid #000;
    background-color: #000;
    color: #ffa800;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
}

p#esqueci_minha_senha a, p#cadastrar_usuario a, span#ou{
    text-decoration: none;
    color: gray;
    font-size: 0.7em;
}

p#esqueci_minha_senha a:hover, p#cadastrar_usuario a:hover{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 0.7em;
}